@import '../node_modules/bootstrap/scss/mixins/_breakpoints';

@mixin custom-button($color, $background) {
  color: $color;
  background: $background;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #0f95d0;
    color: #fff;
  }
}

@mixin section-title() {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  line-height: 65px;

  @include media-breakpoint-down(xl) {
    font-size: 60px;
    line-height: 58px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 54px;
    line-height: 50px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 46px;
    line-height: 40px;
  }
}